body {
  background: #000;
}
.row {
  width: 100% !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255, 102, 203);
  background-color: #fff !important;
}

/* header */
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #000;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #7a6960;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  height: 50px;
  width: auto;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menus,
.nav-menus * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menus > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}
.navbar {
  padding: 0 1rem !important;
}

.nav-menus a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.nav-menus a:hover,
.nav-menus ul .active > a,
.nav-menus li:hover > a {
  color: #eb5d1e;
  text-decoration: none;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #eb5d1e !important;
}

.nav-menus .get-started a {
  background: #e70d10;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
}

.nav-menus .get-started a:hover {
  background: #8f0000;
  color: #fff;
}

.nav-menus .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menus .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-menus .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menus .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3c1300;
}

.nav-menus .drop-down ul a:hover,
.nav-menus .drop-down ul .active > a,
.nav-menus .drop-down ul li:hover > a {
  color: #eb5d1e;
}

.nav-menus .drop-down > a:after {
  /* content: '\f0d7'; */
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menus .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menus .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menus .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menus .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.carousel-caption {
  bottom: 250px !important;
}

@media (max-width: 1366px) {
  .nav-menus .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menus .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menus .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
@media (max-width: 576px) {
  .containers {
    text-align: center;
    width: 100%;
    padding-top: 100px;
  }
  .d-flex {
    display: block !important;
  }
  .card {
    padding-top: 10px;
  }
  .card-common {
    width: 100% !important;
  }
  .col-md-4 {
    padding-top: 10px;
  }
  iframe {
    width: 200px;
    height: 200px;
  }
  .nav-menus .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menus .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menus .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #4e4039;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #f39e7a;
  text-decoration: none;
}

.mobile-nav .get-started a {
  background: #eb5d1e;
  color: #fff;
  border-radius: 50px;
  margin: 15px;
  padding: 10px 25px;
}

.mobile-nav .get-started a:hover {
  background: #ee7843;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #7a6960;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(78, 64, 57, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
.leftside_header {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
}

.rightside_header {
  text-align: left;
  padding-left: 0;
  padding-right: 2.2%;
}

.brandlogom {
  width: 130px;
  top: 0;
  position: relative;
  left: 0;
  margin-top: -4px;
  bottom: 0;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  margin: 72px 0 -72px 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #e30613;
}

#hero h2 {
  color: #312783;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #e70d10;
}

#hero .btn-get-started:hover {
  background: #8f0000;
  text-decoration: none;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* textanimation */
.containers .welcome {
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
}
.containers {
  text-align: center;
  width: 100%;
  padding-top: 200px;
}

.welcome {
  font-size: 60px;
  font-weight: 700;
  color: #e70d10;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

.muzile {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
/* about us */

.page-title h3 {
  color: #e30613;
}
.about-wrapper {
  padding: 20px;
}
.about-wrapper p {
  color: #49a4df;
}
/* parallex */
.parallax {
  background-image: url("../img/engine.png");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.model-caption {
  padding: 5px 0px;
  background-color: #fff;
}
@keyframes text {
  0% {
    color: #000;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}
.carousel-caption h3 {
  font-size: 40px;
  color: #e30613;
  font-weight: 800;
}
li.title {
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 40px;
  font-size: 20px;
  color: white;
  font-family: "myriad-pro-condensed", "Arial", sans-serif;
  font-weight: 600;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: none;
  background: transparent;
}

.card-common {
  border: 0;
  border-radius: unset !important;
  transition: all 0.5s;
  cursor: default;
}
.card-common:hover {
  background-color: whitesmoke;
  box-shadow: 0px 0px 100x #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.04);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.04);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.04);
  transition: all 200ms ease-in;
  transform: scale(1.04);
}
#footer {
  padding: 0 0 30px 0;
  color: #212529;
  font-size: 14px;
  background: #000;
}

#footer .footer-newsletter {
  padding: 60px 0;
  background: #000;
  text-align: center;
  font-size: 15px;
  border-top: 0.5px solid white;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #000;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #e70d10;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #8f0000;
}

#footer .footer-top {
  padding: 0px 0 30px 0;
  background: #000;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #eb5d1e;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e70d10;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #8f0000;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #212529;
}

#footer .credits a {
  color: #e70d10;
}

@media (max-width: 575px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}
